asyncio
aiofiles
aiohttp
aioshutil
anytree
apscheduler
imdbio
cloudscraper
dnspython
fastapi
google-api-python-client
google-auth-oauthlib
gunicorn
langcodes
language-data
jinja2
lxml
markdown
natsort
par2cmdline-turbo
pillow
psutil
pycountry
pymongo
wzgram
python-magic
pytz
pyyaml
niquests
speedtest-cli
tenacity
uvicorn
uvloop
xattr
